<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a2dam.fila1.grupo.proyecto_trimestre_2_cafeteria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityMenu" />
        <activity android:name=".ActivityMenuDetalles" />
        <activity android:name=".ActivityMenuConfirmacion" />
        <activity android:name=".ActivityPedidos" />
        <activity android:name=".ActivityPedidosDetalles" />
        <activity android:name=".ActivityPedidosPago" />
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityCafe"></activity>
    </application>

</manifest>